.customInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 12px;

  label {
    font-size: 16px;
    font-weight: 500;
  }

  span {
    display: block;
    color: #e02d52;
    font-size: 14px;
    line-height: 14px;
    margin-top: 4px;
  }

  input {
    width: 100%;
    padding: 16px 0 16px 16px;
  }

  &:focus-within {
    .inputContainer {
      border: 1px solid var(--color-blue);
      box-shadow: 0 0 0 1px rgba(20, 110, 245, 1);
    }
  }

  &[data-error] {
    .inputContainer {
      border: 1px solid #e02d52;
      box-shadow: 0 0 0 1px rgba(224, 45, 82, 1);
    }
  }
}

.inputContainer {
  width: 100%;
  max-height: 48px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--color-gray-text);
  background-color: var(--color-white-main);
  border-radius: 4px;
  box-shadow: var(--default-shadow);
}

.showPasswordButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}
