.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.main {
  width: 100%;
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  &[data-style="dark"] {
    background-color: var(--color-dark-main);
    border-radius: 16px 16px 0 0;
    padding: 20px;
    color: var(--color-gray);
  }
}

.heroContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    z-index: -1;
    position: relative;
  }

  h1 {
    font-size: 48px;
    white-space: nowrap;
  }

  p {
    font-size: 20px;
    margin-top: 16px;
  }
}

.heroText {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notFound {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: relative;
    color: var(--color-gray-text);
    text-decoration: none;
  }

  a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 2px;
    left: 50%;
    bottom: -3px;
    border-radius: 4px;
    background-color: var(--color-dark-main);
    transition: all 0.3s ease;
  }

  a:hover::after {
    width: 100%;
    left: 0;
  }

  .text {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 620px) {
  .notFound {
    flex-direction: column;
  }
}
